<div class="desktop" *ngFor="let info of infos">
  <p>{{ info.text }}</p>

  <div class="details">
    <div class="clock">
      <img src="../../../assets/clock.svg" alt="Ícone de um relógio">
      <strong>
        {{ info.time }}min
      </strong>
    </div>

    <div>
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star-gray.svg" alt="Ícone de uma estrela cinza">
    </div>

    <strong>2021</strong>
  </div>

  <div class="buttons">
    <app-button></app-button>
  </div>
</div>

<div class="mobile">
  <div class="details">
    <div class="clock">
      <img src="../../../assets/clock.svg" alt="Ícone de um relógio">
      <strong>
        51min
      </strong>
    </div>

    <div>
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star.svg" alt="Ícone de uma estrela amarela">
      <img src="../../../assets/star-gray.svg" alt="Ícone de uma estrela cinza">
    </div>

    <strong>2021</strong>
  </div>

  <div class="content">
    <app-button></app-button>

    <hr>

    <p>Em “Loki” da Marvel Studios, o vilão mercurial Loki (Tom Hiddleston) retoma seu papel como o Deus do Mal em uma nova série que ocorre após os eventos de “Vingadores: Endgame”.</p>
  </div>
</div>
